<!doctype html>
<html lang="en">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- TPL_IF DESCRIPTION_TEXT -->
    <meta name="description" content={DESCRIPTION_TEXT}>
    <!-- TPL_END -->
    <title> {TITLE_TEXT} </title>

    <!-- Latest compiled and minified CSS -->
<!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">-->

    <link rel="stylesheet" href="/webroot/css/old_style.css">

    <script src="/webroot/js/jquery-1.9.0.min.js"></script>
    <script src="/webroot/js/jquery.maskedinput.js" type="text/javascript"></script>
    <script src="/webroot/js/jquery.accordion.js"></script>
    <script src="/webroot/js/jquery.cookie.js"></script>
    <script src="/webroot/js/search.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
<div class="wrapper">

    <div class="sidebar">
        <div id="lan">
            <a href="{URI_FOR_LANG}" title="Українська версія" class="lang {DOMAIN_UA_CURR}">UA</a><br>
            <a href="/ru{URI_FOR_LANG}" title="Русская версия" class="lang {DOMAIN_RU_CURR}">RU</a>
        </div>

        <a href="{LANG}/"><img src="/webroot/image/logo1.png" width="220" height="88" style="display:block; float:left"></a>


        <div style="clear:both"></div><br>
        <br>
        <ul class='category'>
            <div class='tmen'>
                {
                "ru":"<strong>Электроинструменты<br>напрокат</strong>",
                "ua":"<strong>Електроінструменти<br>напрокат</strong>"
                }
            </div>

            {CATEGORIES_MENU}

        </ul><br>
        <div class="cotc">
            {
                "ru":"Расскажите про нас в соцсетях:",
                "ua":"Розкажіть про нас в соцмережах:"
            }
        </div>
        <script type="text/javascript" src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js" charset="utf-8"></script>
        <script type="text/javascript" src="//yastatic.net/share2/share.js" charset="utf-8"></script>
        <div class="ya-share2 text-center" data-services="vkontakte,facebook,odnoklassniki,moimir,gplus" data-counter=""></div>
    </div>
    <div class="content">
        <div class="cont">
            <div class="pad"><b>ПН-СБ 9-00 - 19-00<br>
                    тел 050-463-01-55
                    <a href="#">
                        {
                        "ru":"Перезвонить?",
                        "ua":"Передзвонити?"
                        }
                    </a></b> <br>
                {
                "ru":"Петропавловская Борщаговка, Петропавловская 14 (напротив Обойного рынка)",
                "ua":"Петропавлівська Борщагівка, Петропавлівська 14 (напроти Шпалерного ринку)"
                }
            </div>
        </div>
        <div class="men_form">
            <div class="menu_top">

                {PAGES_MENU}

            </div>

            <div class="topform">
                <form role="form" method="get" action="{LANG}/pages/search/">
                    <input type="text" id="searchbar" name="query" value="{QUERY}"  autocomplete="off" class="findText" />
                    <input type="submit" id="searchsubmit" value="Найти" class="findButton" />
                </form>
                <div id="search_advice_wrapper">
                </div>
            </div>

        </div>
        <div style="clear:both; height:7px;"></div>
        <p class="smtext">

            {BREADCRUMBS}

        </p>
        <br>

        {OUTPUTMAIN}

    </div>
</div>
<!-- Всплывающая корзина -->
<div id="popup_overlay">
    <div class="popup" id="cart_popup"></div>
</div>
<!-- / Всплывающая корзина --><br>
<!--<script src="/js/live_s.js"></script>-->
<script>
    $(document).ready(function($){
        $(".category").dcAccordion();
    });
</script>
<div style="clear:both"></div>
<div class="wrapper">
    <div class="foot">
        <br>
        <br>

        <div class="men_form">
            <div class="menu_top">

                {PAGES_MENU}

            </div>
        </div>
        {
            "ru":" Наши партнеры: Техноскарб<br>copyright (c) 2017<br>",
            "ua":" Наші партнери: Техноскарб<br>copyright (c) 2017<br>"
        }
        <br><br>
    </div>
</div>
</body>
</html>