<style>
    span a {
        color: darkgray;
    }
    td > a {
        color: darkgreen;
    }
    .sort-active {
        color: limegreen;
    }
</style>

<div class="row-fluid">
    <div class="col-md-12">
        <a class="text-center" href="/admin/orders/index/1"><button class="btn btn-sm btn-primary">Новые заказы</button></a>
        <a class="text-center" href="/admin/orders/index/2"><button class="btn btn-sm btn-success">Обработанные заказы</button></a>
        <a class="text-center" href="/admin/orders/index/3"><button class="btn btn-sm btn-default">Закрытая аренда</button></a>
        <a class="text-center" href="/admin/orders/index/4"><button class="btn btn-sm btn-danger">Просроченная аренда</button></a>
    </div>
    <br>
    <br>

    <div class="col-md-12">
        <form class="form-inline" action="" method="get">
            <div class="form-group">
                <label class="sr-only" for="id">Id</label>
                <input type="text" class="form-control" id="id" name="id" placeholder="Id заказа">
            </div>

            <div class="form-group">
                <label class="sr-only" for="user_name">Name</label>
                <input type="text" class="form-control" id="user_name" name="user_name" placeholder="Имя пользователя">
            </div>

            <div class="form-group">
                <label class="sr-only" for="user_phone">Phone</label>
                <input type="text" class="form-control" id="user_phone" name="user_phone" placeholder="Телефон пользователя">
            </div>

            <div class="form-group">
                <label class="sr-only" for="product_id">Product Id</label>
                <input type="text" class="form-control" id="product_id" name="product_id" placeholder="Id продукта">
            </div>

            <div class="form-group">
                <label class="sr-only" for="created">Created</label>
                <input type="text" class="form-control" id="created" name="created" placeholder="Дата создания">
            </div>

            <div class="form-group">
                <label class="sr-only" for="updated">Updated</label>
                <input type="text" class="form-control" id="updated" name="updated" placeholder="Дата обновления">
            </div>

            <button type="submit" class="btn btn-primary">Найти</button>
            <a type="button" class="btn btn-default" href="/admin/orders/index/all">Сбросить</a>
        </form>
        </div>
    </div>

    <h3 class="text-center">Список заказов</h3>
    <br>
    <div class="text-center">
        {PAGINATION}
    </div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <td>
                    <b>ID</b>
                    <span style="float:right;">
                        <a href="/admin/orders/index/{STATUS}/id&DESC/{PAGE}"><i class="glyphicon glyphicon glyphicon-arrow-down"></i></a>
                        <a href="/admin/orders/index/{STATUS}/id&ASC/{PAGE}"><i class="glyphicon glyphicon-arrow-up"></i></a>
                    </span>
                </td>
                <td>
                    <b>User name</b>
                    <span style="float:right;">
                        <a href="/admin/orders/index/{STATUS}/user_name&DESC/{PAGE}"><i class="glyphicon glyphicon glyphicon-arrow-down"></i></a>
                        <a href="/admin/orders/index/{STATUS}/user_name&ASC/{PAGE}"><i class="glyphicon glyphicon-arrow-up"></i></a>
                    </span>
                </td>
                <td>
                    <b>User phone</b>
                    <span style="float:right;">
                        <a href="/admin/orders/index/{STATUS}/user_phone&DESC/{PAGE}"><i class="glyphicon glyphicon glyphicon-arrow-down"></i></a>
                        <a href="/admin/orders/index/{STATUS}/user_phone&ASC/{PAGE}"><i class="glyphicon glyphicon-arrow-up"></i></a>
                    </span>
                </td>
                <td>
                    <b>Product Id</b>
                    <span style="float:right;">
                        <a href="/admin/orders/index/{STATUS}/product_id&DESC/{PAGE}"><i class="glyphicon glyphicon glyphicon-arrow-down"></i></a>
                        <a href="/admin/orders/index/{STATUS}/product_id&ASC/{PAGE}"><i class="glyphicon glyphicon-arrow-up"></i></a>
                    </span>
                </td>
                <td>
                    <b>Comment</b>
                    <span style="float:right;">
                        <a href="/admin/orders/index/{STATUS}/comment&DESC/{PAGE}"><i class="glyphicon glyphicon glyphicon-arrow-down"></i></a>
                        <a href="/admin/orders/index/{STATUS}/comment&ASC/{PAGE}"><i class="glyphicon glyphicon-arrow-up"></i></a>
                    </span>
                </td>
                <td>
                    <b>Status</b>
                    <span style="float:right;">
                        <a href="/admin/orders/index/{STATUS}/status&DESC/{PAGE}"><i class="glyphicon glyphicon glyphicon-arrow-down"></i></a>
                        <a href="/admin/orders/index/{STATUS}/status&ASC/{PAGE}"><i class="glyphicon glyphicon-arrow-up"></i></a>
                    </span>
                </td>
                <td>
                    <b>Created</b>
                    <span style="float:right;">
                        <a href="/admin/orders/index/{STATUS}/created&DESC/{PAGE}"><i class="glyphicon glyphicon glyphicon-arrow-down"></i></a>
                        <a href="/admin/orders/index/{STATUS}/created&ASC/{PAGE}"><i class="glyphicon glyphicon-arrow-up"></i></a>
                    </span>
                </td>
                <td>
                    <b>Updated</b>
                    <span style="float:right;">
                        <a href="/admin/orders/index/{STATUS}/updated&DESC/{PAGE}"><i class="glyphicon glyphicon glyphicon-arrow-down"></i></a>
                        <a href="/admin/orders/index/{STATUS}/updated&ASC/{PAGE}"><i class="glyphicon glyphicon-arrow-up"></i></a>
                    </span>
                </td>
                <td width="110px;"><b>Actions</b></td>
            </tr>
        </thead>

        <tbody>
            <!-- TPL_IF ORDER -->
            <!-- TPL_BEGIN ORDER -->
            <tr>
                <td>{ORDER.id}</td>
                <td>{ORDER.user_name}</td>
                <td>{ORDER.user_phone}</td>
                <td><a href="/admin/products/edit/{ORDER.product_id}" target="_blank">{ORDER.product_id}</a></td>
                <td>{ORDER.comment}</td>
                <td class="status">{ORDER.status}</td>
                <td>{ORDER.created}</td>
                <td>{ORDER.updated}</td>
                <td align="right">
                    <a href="/admin/orders/edit/{ORDER.id}"><button class="btn btn-xs btn-primary">Edit</button></a>
                    <a href="/admin/orders/delete/{ORDER.id}" onclick="return confirmDelete();" class="btn btn-xs btn-danger">Delete</a>
                </td>
            </tr>
            <!-- TPL_END ORDER -->
            <!-- TPL_END -->
        </tbody>

    </table>
    <div class="text-center">
        {PAGINATION}
    </div>
</div>

<script>
    $(document).ready(function () {

        //для подсветки сортировки
        var url = window.location.pathname;
        var search = window.location.search;
        $('table thead tr').find('a[href="' + url + search + '"]').addClass('sort-active');
        ////////////////////////////////////////////

        //Для подсвечивания заказа в зависимости от статуса
        $('.status').each(function () {
            var status = $(this).html();
            switch (status) {
                case '1':
                    $(this).parent().addClass('bg-success');
                    break;
                case '2':
                    $(this).parent().addClass('bg-primary');
                    break;
                case '5':
                    $(this).parent().addClass('bg-danger')
                    break;
                default :
                    break;
            }
        });
        ////////////////////////////////////////////

        $('span a').click(function (e) {
            //e.preventDefault();
            var url = window.location;
            console.log(url);
            $(this).addClass('sort-active');

        });
    });
</script>