<h3>Pages (Admin Section)</h3>
<br>
<table class="table table-striped table-bordered">
    <tr>
        <td style="text-align: center"><b>Pages title</b></td>
        <td style="width: 140px; text-align: center"><b>Actions</b></td>
    </tr>
    <?php foreach($data['pages'] as $page) { ?>
        <tr>
            <td><b><?= $page['title'] ?></b></td>
            <td align="right">
                <a href="/admin/pages/edit/<?= $page['id'] ?>"><button class="btn btn-sm btn-primary">Edit</button></a>
                <a href="/admin/pages/delete/<?= $page['id'] ?>" onclick="return confirmDelete();"><button class="btn btn-sm btn-warning">Delete</button></a>
            </td>
        </tr>
    <?php } ?>
</table>

<br>

<div>
    <a href="/admin/pages/add/"><button class="btn btn-sm btn-success">New Page</button></a>
</div>