<style>
    .reserved {
        position: absolute;
        padding: 2px;
        border-radius: 5px;
        background: darkseagreen;
        margin-top: 5px;
        margin-left: 5px;
        font-size: 12px;
    }

    .order {
        position: relative;
        bottom: -15px;
        color: black;
        padding: 2px;
        border-radius: 5px;
        background: lightgrey;
    }
</style>

<div style="text-align: center">
    {PAGINATION}
</div>
<br>

<!-- TPL_IF PRODUCTS -->

    <!-- TPL_BEGIN PRODUCTS -->
    <div class="favor">
        <!-- TPL_IF PRODUCTS.items_active -->
          <span class="reserved">
              {
              "ru":"В прокате",
              "ua":"У прокаті"
              }
          </span>
        <!-- TPL_END -->
        <div class="pad" style="text-align: center">
            <a  href="{PRODUCTS.LANG}/pages/product/{PRODUCTS.items_id}">
            <img src="{PRODUCTS.items_picture_sm}">
                <span><strong>{PRODUCTS.items_typePrefix}</strong></span><br>
                <p>
                <span>
                    {
                        "ru":"Сутки",
                        "ua":"Доба"
                    }
                    - {PRODUCTS.items_price}.
                </span>
                <span>
                    {
                        "ru":"Залог",
                        "ua":"Завдаток"
                    }
                    - {PRODUCTS.items_price}
                </span>
                </p>
<!--                <p style="">-->
<!--                    <a href="{PRODUCTS.LANG}/pages/product/{PRODUCTS.items_id}">-->
                        <span class="order">
                            {
                                "ru":"Подробнее",
                                "ua":"Детальніше"
                            }
                        </span>
<!--                    </a>-->
<!--                </p>-->
            </a>
        </div>
    </div>
    <!-- TPL_END PRODUCTS -->

<!-- TPL_END -->
<br>
<div style="text-align: center">
    {PAGINATION}
</div>
