<a href="https://tehnoskarb.ua/"><img src="https://tehnoskarb.ua/img/main_ban/pb.jpg" class="banner_top"></a>

<h2>
    <span>Почему выбирают нас?</span>
</h2>
<div class="favor3">
    <div class="pad">
        <strong>Только качественный инструмент</strong><br>
        Мы предлагаем прокат электроинструменов лучших моделей проверенных брендов.
    </div>
</div>
<div class="favor3">
    <div class="pad"><strong>Экономия времени и денег</strong><br>
        Прокат электроинструмента помогает сэкономить деньги и время на выполняемой вручную работе
    </div></div>
<div class="favor3">
    <div class="pad">
        <strong>Широкий ассортимент моделей</strong><br>
        Надежная и безопасная электротехника напрокат поможет вам быстро и качественно выполнить работу.
    </div>
</div>

<div style="clear:both"></div>


<h2>
    <span>Популярное:</span>
</h2>

<!-- TPL_IF PRODUCTS -->

<!-- TPL_BEGIN PRODUCTS -->
<div class="favor">
    <div class="pad" style="text-align: center">
        <a  href="{PRODUCTS.LANG}/pages/product/{PRODUCTS.items_id}">
            <img src="{PRODUCTS.items_picture_sm}">
            <strong>{PRODUCTS.items_typePrefix}</strong><br>
            <span>
                    {
                        "ru":"Сутки",
                        "ua":"Доба"
                    }
                    - {PRODUCTS.items_price}. </span>
            <span>
                    {
                        "ru":"Залог",
                        "ua":"Завдаток"
                    }
                    - {PRODUCTS.items_price}</span>
            <p style="padding-top: 20px;">
                <a href="{PRODUCTS.LANG}/pages/product/{PRODUCTS.items_id}">
                        <span class="order">
                            {
                                "ru":"Подробнее",
                                "ua":"Детальніше"
                            }
                        </span>
                </a>
            </p>
        </a>
    </div>
</div>
<!-- TPL_END PRODUCTS -->

<!-- TPL_END -->

<div style="clear:both; height:0px"></div>

<h2>
    <span>Контакты:</span>
</h2>
<div class="kontakt">
    <strong>тел. 050-463-01-55</strong><br>
    Петропавловская Борщаговка, Петропавловская 14 (напротив Обойного рынка).
    <a href="#">Как добраться?</a>
    <br>
    <br>
    <style>
        #ymaps1488207761639621414 { border:#F00 solid 2px;}
    </style>
    <script type="text/javascript" charset="utf-8" src="//api-maps.yandex.ru/services/constructor/1.0/js/?sid=0DHNcl9vlH7AisPd87G6AEsVxzf9zfwO&width=100%&height=300"></script>
</div>
