<a href="#map"><img src="/webroot/image/banner/ban.jpg" class="banner_top"></a>

<h2>
    <span>
         {
            "ru":"Почему выбирают нас?",
            "ua":"Чому обирають нас?"
        }
    </span>
</h2>
<div class="favor3">
    <div class="pad">
        <strong>
            {
            "ru":"Только качественный инструмент",
            "ua":"Тільки якісний інструмент"
            }
        </strong><br>
        {
        "ru":"Мы предлагаем прокат электроинструменов лучших моделей проверенных брендов.",
        "ua":"Ми пропонуємо прокат електроінструментів кращих моделей перевірених брендів."
        }
    </div>
</div>
<div class="favor3">
    <div class="pad">
        <strong>
            {
            "ru":"Экономия времени и денег",
            "ua":"Економія часу і грошей"
            }
        </strong><br>
        {
        "ru":"Прокат электроинструмента помогает сэкономить деньги и время на выполняемой вручную работе.",
        "ua":"Прокат електроінструментів допомагає заощадити час та гроші на роботі, яку Ви виконуєте власноруч."
        }
    </div></div>
<div class="favor3">
    <div class="pad">
        <strong>
            {
            "ru":"Широкий ассортимент моделей",
            "ua":"Широкий асортимент моделей"
            }
        </strong><br>
        {
        "ru":"Надежная и безопасная электротехника напрокат поможет Вам быстро и качественно выполнить работу.",
        "ua":"Надійна та безпечна електротехніка напрокат допоможе Вам швидко і якісно виконати роботу."
        }
    </div>
</div>

<div style="clear:both"></div>

<h2>
    <span>
        {
            "ru":"Популярное:",
            "ua":"Популярне:"
        }
    </span>
</h2>

<!-- TPL_IF PRODUCTS -->

<!-- TPL_BEGIN PRODUCTS -->
<div class="favor">
    <a  href="{PRODUCTS.LANG}/pages/product/{PRODUCTS.items_id}">
    <div class="pad text-center">
            <img src="{PRODUCTS.items_picture_sm}">
            <span><strong>{PRODUCTS.items_typePrefix}</strong></span><br>
            <p class="price-main">
            <span>
                {
                    "ru":"Сутки",
                    "ua":"Доба"
                }
                - {PRODUCTS.items_price}.
            </span>
            <span>
                {
                    "ru":"Залог",
                    "ua":"Завдаток"
                }
                - {PRODUCTS.items_price}
            </span>
            </p>
<!--            <p style="padding-top: 10px;">-->
<!--                <a href="{PRODUCTS.LANG}/pages/product/{PRODUCTS.items_id}">-->
                    <span class="order">
                        {
                        "ru":"Подробнее",
                        "ua":"Детальніше"
                        }
                    </span>
<!--                </a>-->
<!--            </p>-->
    </div>
    </a>
</div>
<!-- TPL_END PRODUCTS -->

<!-- TPL_END -->

<div style="clear:both; height:0px"></div>

<h2>
    <span><a name="map">
        {
            "ru":"Контакты:",
            "ua":"Контакти:"
        }
        </a>
    </span>
</h2>
<div class="kontakt">
    <strong>тел. 050-463-01-55</strong><br>
    {
        "ru":"Петропавловская Борщаговка, Петропавловская 14 (напротив Обойного рынка).",
        "ua":"Петропавлівська Борщагівка, Петропавлівська 14 (напроти Шпалерного ринку)."
    }

    <a href="#">
        {
            "ru":"Как добраться?",
            "ua":"Як дістатися?"
        }
    </a>
    <br>
    <br>
    <style>
        #ymaps1488207761639621414 { border:#F00 solid 2px;}
    </style>
    <script type="text/javascript" charset="utf-8" src="//api-maps.yandex.ru/services/constructor/1.0/js/?sid=0DHNcl9vlH7AisPd87G6AEsVxzf9zfwO&width=100%&height=300"></script>
</div>
