<a href="https://tehnoskarb.ua/"><img src="https://tehnoskarb.ua/img/main_ban/pb.jpg" class="banner_top"></a>

<h2><span>Почему выбирают нас?</span></h2>
<div class="favor3"><div class="pad"><strong>Только качественный инструмент</strong><br>Мы предлагаем прокат электроинструменов лучших моделей проверенных брендов.
    </div></div>
<div class="favor3">
    <div class="pad"><strong>Экономия времени и денег</strong><br>
        Прокат электроинструмента помогает сэкономить деньги и время на выполняемой вручную работе
    </div></div>
<div class="favor3"><div class="pad"><strong>Широкий ассортимент моделей</strong><br>
        Надежная и безопасная электротехника напрокат поможет вам быстро и качественно выполнить работу. </div></div>
<div style="clear:both"></div>

<h2><span>Популярное:</span></h2>
<div class="favor"><div class="pad">
        <center><img src="https://tehnoskarb.ua/images/models/88/33288-bosch-gbh-2-20se.jpg"></center><strong>Перфоратор<br>
            BOSCH gbh 2-20se</strong>
        День - 150 грн. Сутки - 200 грн.
        <a href="#">Подробнее</a></div></div>
<div class="favor"><div class="pad">
        <center><img src="https://tehnoskarb.ua/images/models/70/16370-dewalt-d25900k.jpg"></center><strong>Отбойный молот<br>
            DeWALT d25900k</strong>
        День - 150 грн. Сутки - 200 грн.
        <a href="#">Подробнее</a></div></div>
<div class="favor"><div class="pad">
        <center><img src="https://tehnoskarb.ua/images/models/88/33288-bosch-gbh-2-20se.jpg"></center><strong>Перфоратор<br>
            BOSCH gbh 2-20se</strong>
        День - 150 грн. Сутки - 200 грн.
        <a href="#">Подробнее</a></div></div>
<div class="favor"><div class="pad">
        <center><img src="https://tehnoskarb.ua/images/models/84/34184-dewalt-dwd024.jpg"></center><strong>Дрель ударная<br>
            DeWALT dwd024</strong>
        День - 150 грн. Сутки - 200 грн.
        <a href="#">Подробнее</a></div></div>
<div class="favor"><div class="pad">
        <center><img src="https://tehnoskarb.ua/images/models/96/111696-einhell-bt-js-650-e.jpg"></center><strong>Лобзик электрический 650Вт<br>
            Einhell bt-js 650 e</strong>
        День - 150 грн. Сутки - 200 грн.
        <a href="#">Подробнее</a></div></div>
<div class="favor"><div class="pad">
        <center><img src="https://tehnoskarb.ua/images/models/88/33288-bosch-gbh-2-20se.jpg"></center><strong>Перфоратор<br>
            BOSCH gbh 2-20se</strong>
        День - 150 грн. Сутки - 200 грн.
        <a href="#">Подробнее</a></div></div>
<div class="favor"><div class="pad">
        <center><img src="https://tehnoskarb.ua/images/models/26/117026-gross-kompakt-70.jpg"></center><strong>Лазерная рулетка<br>
            Gross kompakt 70</strong>
        День - 150 грн. Сутки - 200 грн.
        <a href="#">Подробнее</a></div></div>
<div class="favor"><div class="pad">
        <center><img src="https://tehnoskarb.ua/images/models/88/33288-bosch-gbh-2-20se.jpg"></center><strong>Перфоратор<br>
            BOSCH gbh 2-20se</strong>
        День - 150 грн. Сутки - 200 грн.
        <a href="#">Подробнее</a></div></div>
<div style="clear:both; height:0px"></div>

<h2><span>Контакты:</span></h2>
<div class="kontakt">тел 050-463-01-55</strong><br>
    Петропавловская Борщаговка, Петропавловская 14
    (напротив Обойного рынка).
    <a href="№">Как добраться?</a><br>
    <br>
    <style>
        #ymaps1488207761639621414 { border:#F00 solid 2px;}
    </style>
    <script type="text/javascript" charset="utf-8" src="//api-maps.yandex.ru/services/constructor/1.0/js/?sid=0DHNcl9vlH7AisPd87G6AEsVxzf9zfwO&width=100%&height=300"></script></div>
