<style>
    .test {
        width: 300px;
        border: #CCC solid 1px;
        border-radius: 6px;
        background: #FFF;
        height: 220px;
        margin: 10px;
    }
</style>

<!-- TPL_IF PRODUCTS -->

    <!-- TPL_BEGIN PRODUCTS -->
    <div class="favor">
        <div class="pad" style="text-align: center">
            <a  href="{PRODUCTS.LANG}/pages/product/{PRODUCTS.items_id}">
            <img src="{PRODUCTS.items_picture_sm}">
                <strong>{PRODUCTS.items_typePrefix}</strong><br>
                <span>
                    {
                        "ru":"Сутки",
                        "ua":"Доба"
                    }
                    - {PRODUCTS.items_price}. </span>
                <span>
                    {
                        "ru":"Залог",
                        "ua":"Завдаток"
                    }
                    - {PRODUCTS.items_price}</span>
                <p style="padding-top: 20px;">
                    <a href="{LANG}/pages/product/{PRODUCTS.items_id}">
                        <span class="round_con btn">
                            {
                                "ru":"Подробнее",
                                "ua":"Детальніше"
                            }
                        </span>
                    </a>
                </p>
            </a>
        </div>
    </div>
    <!-- TPL_END PRODUCTS -->

<!-- TPL_END -->
