<div class="list">
    <div id="alert" class = "hide">
        <button type = "button" class = "close" data-dismiss = "alert" aria-hidden = "true">
            &times;
        </button>
        <p class="text-center"></p>
    </div>

    <div style="width: 100%; height: 100px;">
        <div class="wrapper-loader">
            <div id="loader" class="loader"></div>
        </div>
        <div id="div-price">
            <table id="rounded-corner">
                <thead>
                    <tr class="table-head">
                        <td>
                            {
                            "ru":"Цена за сутки",
                            "ua":"Ціна за добу"
                            }
                        </td>
                        <td>{
                            "ru":"Залог",
                            "ua":"Завдаток"
                            }
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr class="table-head">
                        <td>{PRODUCT_PRICE} грн.</td>
                        <td>{PRODUCT_PRICE} грн.</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="test"></div>
        <div id="div-form">

            <!-- TPL_IF PRODUCT_UNACTIVE -->
            <div  class="product-unactive text-center">
                <span class="message">
                    {
                        "ru":"В прокате",
                        "ua":"У прокаті"
                    }
                </span>
            </div>
            <!-- TPL_ELSE -->
            <div  class="product-unactive text-center hide">
                <span class="message">
                    {
                        "ru":"В прокате",
                        "ua":"У прокаті"
                    }
                </span>
            </div>
            <div id="form-order">
                <form method="post" action="/orders/zakaz/" id="order">
                    <input type="hidden" name="product_id" value="{PRODUCT_ID}">
                    <input type="text" class="findText1" name="user_name" placeholder='{ "ru":"Ваше имя", "ua":"Ваше ім`я" }'><br><br>
                    <input type="text" class="findText1" id="mobile_phone" name="user_phone" placeholder='{ "ru":"Ваш номер телефона", "ua":"Ваш номер телефону" }'><br><br>
                    <input type="submit" id="findButton1" class="findButton1" value='{ "ru":"Заказать", "ua":"Замовити" }'>
                </form>
            </div>
            <!-- TPL_END -->

        </div>
    </div>
    <br>
    <div id="note" class="note" style="display: none"></div>
</div>

<div style="clear:both"></div>
<br><br>

<div class="list">
    <h1 class="text-center">{PRODUCT_NAME}</h1>
    <br>
    <h3 class="text-center">
        {
        "ru":"Технические характеристики",
        "ua":"Технічні характеристики"
        } {PRODUCT_VENDOR} {PRODUCT_VENDOR_CODE}
    </h3>
    <img src="{PRODUCT_PICTURE_BIG}" class="round_con tovimg" title="{PRODUCT_NAME} {PRODUCT_VENDOR_CODE}">
    <br>
    <span>{PRODUCT_PARAMS}</span>
    <br><br>
    <h3 class="text-center">
        {
        "ru":"Описание",
        "ua":"Опис"
        } {PRODUCT_VENDOR} {PRODUCT_VENDOR_CODE}
    </h3>
    <br>
    {PRODUCT_DESCRIPTION}
</div>

<script>
    $(document).ready(function ($) {

        $('button.close').click(function (e) {
            $('#alert').toggle();
            $('#alert p').text('');
        });

        $("#mobile_phone").mask("+380(99)999-99-99",{placeholder:"+380(  )   -  -  "});

        $('form#order').submit(function (){
            $('#alert').hide();
            $('.wrapper-loader').show();
            $('#zakaz').hide();
            $('#findButton1').prop('disabled', true);

            var formData = $('form#order');
            var currentLanguage = window.location.pathname.substr(0,3) === '/ru' ? 'ru' : 'ua';
            var data = formData.serialize() + '&lang=' + currentLanguage;

            $.ajax({
                type: "POST",
                url: formData.attr('action'),
                data: data,
                success: function (data) {
                    $('#zakaz').show();
                    $('#findButton1').prop('disabled', false);
                    var data = $.parseJSON(data);
                    setTimeout(function () {
                        if (data.status === 1) {
                            $('#alert').removeClass().addClass('alert-success');
                            $('#form-order').addClass('hide');
                            $('#prokat').removeClass('hide');
                            $('.product-unactive').show();

                        } else {
                            $('#alert').removeClass().addClass('alert-danger');
                        }
                        console.log(data);
                        $('#alert p').text(data.message);
                        $('#alert').show();
                        $('.wrapper-loader').hide();
                        $('form').show();
                    }, 1000);
                },
                error: function (jqXHR, text, error) {
                    $('.wrapper-loader').hide();
                    $('form').show();
                    $('#findButton1').prop('disabled', false);
                }
            });
            return false;
        });
    });

</script>