<style>
    .findText1 {
        width: 100%;
        padding: 10px;
        background: #F3F3F3;
        border: 1px solid #cccccc;
        border-radius: 6px;
        padding-left: 1%;
        margin-right: 5px;
    }
    .findButton1 {
        display: block;
        width: 100%;
        background: lightseagreen;
        /*border: #cd520b solid 1px;*/
        border: none;
        border-radius: 6px;
        color: #FFF;
        -moz-box-shadow: 0px 0px 2px #666666;
        -webkit-box-shadow: 0px 0px 2px #666666;
        box-shadow: 0px 0px 2px #666666;
        padding: 10px 0;
        cursor: pointer;
        color: #FFF;
        text-decoration: none;
        text-align: center;
        margin-left: 2%;
    }

    .findButton1:hover {
        background: mediumspringgreen;
    }

    .note {
        background: lightblue;
        padding: 10px;
        margin-bottom: 5px;
        padding-left: -5px;
        text-align: center;
        width: 100%;
        height: 20px;
    }

    @-webkit-keyframes spin {
        0% { -webkit-transform: rotate(0deg); }
        100% { -webkit-transform: rotate(360deg); }
    }

    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }

    #rounded-corner {
        font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
        width: 98%;
        height: 110px;
        text-align: left;
        border-collapse: collapse;
        /*margin: 5px;*/
        background: azure;
        position: relative;
    }
    .price2 {
        display: block;
        float: right;
        background: steelblue;
        font-size: 20px;
        color: #FFF;
        text-align: center;
        width: auto;
    }


    .alert-success {
        color: #3c763d;
        background-color: #dff0d8;
        border-color: #d6e9c6;
    }
    .alert-danger {
        color: #a94442;
        background-color: #f2dede;
        border-color: #ebccd1;
    }
    .alert-dismissable, .alert-dismissible {
        padding-right: 35px;
    }
    #alert {
        padding: 15px;
        margin-bottom: 20px;
        border: 1px solid transparent;
        border-radius: 4px;
    }
    button.close {
        -webkit-appearance: none;
        padding: 0;
        cursor: pointer;
        background: 0 0;
        border: 0;
    }
    .close {
        float: right;
        font-size: 21px;
        font-weight: 700;
        line-height: 1;
        color: #000;
        text-shadow: 0 1px 0 #fff;
        filter: alpha(opacity=20);
        opacity: .2;
    }
    .text-center {
        text-align: center;
    }
    .hide {
        display: none;
    }

    .product-unactive {
        margin-top: 5px;
        padding-top: 40px;
        width: 35%;
        float: right;
        height: 68px;
        background: wheat;
        vertical-align: middle;
        color: crimson;
        font-size: 20px;
    }

    #form {
        width: 40%;
        float: right;
        padding-right: 16px;
    }

    #zakaz {
        float: left;
        width: 100%;
    }

    .wrapper-table {
        width: 50%;
        min-width: 180px;
        float: left;
        margin-left: 5px;
    }

    .table-head {
        text-align: center;
    }

</style>

<div class="list">
    <div class="wrapper-loader">
        <div id="loader" class="loader"></div>
    </div>

    <div id="alert" class = "hide">
        <button type = "button" class = "close" data-dismiss = "alert" aria-hidden = "true">
            &times;
        </button>
        <p class="text-center"></p>
    </div>

    <div id="note" class="note" style="display: none"></div>
    <div id="zakaz">
        <div class="wrapper-table">
            <table id="rounded-corner" width="295">
                <thead>
                    <tr class="table-head">
                        <td>{
                            "ru":"Цена за сутки",
                            "ua":"Ціна за добу"
                            }
                        </td>
                        <td>{
                            "ru":"Залог",
                            "ua":"Завдаток"
                            }
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr class="table-head">
                        <td>{PRODUCT_PRICE} грн.</td>
                        <td>{PRODUCT_PRICE} грн.</td>
                    </tr>
                </tbody>
               </table>
        </div>


        <!-- TPL_IF PRODUCT_UNACTIVE -->
        <div  class="product-unactive text-center">
            <span>
                {
                    "ru":"В прокате",
                    "ua":"У прокаті"
                }
            </span>
        </div>
        <!-- TPL_ELSE -->
        <div  class="product-unactive text-center hide">
            <span>
                {
                    "ru":"В прокате",
                    "ua":"У прокаті"
                }
            </span>
        </div>
        <div id="form">
            <form method="post" action="/orders/zakaz/" id="order">
                <input type="hidden" name="product_id" value="{PRODUCT_ID}">
                <input type="text" class="findText1" name="user_name" placeholder='{ "ru":"Ваше имя", "ua":"Ваше ім`я" }'><br><br>
                <input type="text" class="findText1" id="mobile_phone" name="user_phone" placeholder='{ "ru":"Ваш номер телефона", "ua":"Ваш номер телефону" }'><br><br>
                <input type="submit" id="findButton1" class="findButton1" value='{ "ru":"Заказать", "ua":"Замовити" }'>
            </form>
        </div>
        <!-- TPL_END -->

    </div>
</div>

<div style="clear:both"></div>
<br><br>

<div class="list">
    <h1 style="text-align: center">{PRODUCT_NAME}</h1>

    <br>

    <h3 style="text-align: center">
        {
        "ru":"Технические характеристики",
        "ua":"Технічні характеристики"
        } {PRODUCT_VENDOR} {PRODUCT_VENDOR_CODE}
    </h3>
    <img src="{PRODUCT_PICTURE_BIG}" class="round_con tovimg" title="{PRODUCT_NAME} {PRODUCT_VENDOR_CODE}">
    <br>
    <span>{PRODUCT_PARAMS}</span>
    <br><br>
    <h3 style="text-align: center">
        {
        "ru":"Описание",
        "ua":"Опис"
        } {PRODUCT_VENDOR} {PRODUCT_VENDOR_CODE}
    </h3>
    <br>
    {PRODUCT_DESCRIPTION}
</div>

<script>
    $(document).ready(function ($) {

        $('button.close').click(function (e) {
            $('#alert').toggle();
            $('#alert p').text('');
        });

        $("#mobile_phone").mask("+380(99)999-99-99",{placeholder:"+380(  )   -  -  "});

        $('form#order').submit(function (){
            $('#alert').hide();
            $('.wrapper-loader').show();
            $('#zakaz').hide();
            $('#findButton1').prop('disabled', true);

            var formData = $('form#order');
            var currentLanguage = window.location.pathname.substr(0,3) === '/ru' ? 'ru' : 'ua';
            var data = formData.serialize() + '&lang=' + currentLanguage;

            $.ajax({
                type: "POST",
                url: formData.attr('action'),
                data: data,
                success: function (data) {
                    $('#zakaz').show();
                    $('#findButton1').prop('disabled', false);
                    var data = $.parseJSON(data);
                    setTimeout(function () {
                        if (data.status === 1) {
                            $('#alert').removeClass().addClass('alert-success');
                            $('#form').addClass('hide');
                            $('#prokat').removeClass('hide');
                            $('.product-unactive').show();

                        } else {
                            $('#alert').removeClass().addClass('alert-danger');
                        }
                        console.log(data);
                        $('#alert p').text(data.message);
                        $('#alert').show();
                        $('.wrapper-loader').hide();
                        $('form').show();
                    }, 1000);
                },
                error: function (jqXHR, text, error) {
                    $('.wrapper-loader').hide();
                    $('form').show();
                    $('#findButton1').prop('disabled', false);
                }
            });
            return false;
        });
    });

</script>