<h3 class="text-center">Список новостей</h3>
<br>
<div class="text-center">
    {PAGINATION}
</div>
<table class="table table-striped table-bordered">
    <tr>
        <td><b>ID</b></td>
        <td><b>Title Ru</b></td>
        <td><b>Title Ua</b></td>
        <td><b>Alias</b></td>
        <td><b>Description Ru</b></td>
        <td><b>Description Ua</b></td>
        <td><b>Picture</b></td>
        <td><b>Active</b></td>
        <td width="180px;"><b>Actions</b></td>
    </tr>

    <!-- TPL_IF NEWS -->
        <!-- TPL_BEGIN NEWS -->
        <tr>
            <td>{NEWS.id}</td>
            <td>{NEWS.title}</td>
            <td>{NEWS.ua_title}</td>
            <td>{NEWS.alias}</td>
            <td>{NEWS.description}</td>
            <td>{NEWS.ua_description}</td>
            <td>{NEWS.picture}</td>
            <td>{NEWS.active}</td>
            <td align="right">
                <!-- TPL_IF ADMINS.admins_active -->
                <a href="/admin/news/unactive/{NEWS.id}"><button class="btn btn-xs btn-warning">Unactive</button></a>
                <!-- TPL_ELSE -->
                <a href="/admin/news/active/{NEWS.id}"><button class="btn btn-xs btn-success">Active</button></a>
                <!-- TPL_END -->
                <a href="/admin/news/edit/{NEWS.id}"><button class="btn btn-xs btn-primary">Edit</button></a>
                <a href="/admin/news/delete/{NEWS.id}" onclick="return confirmDelete();" class="btn btn-xs btn-danger">Delete</a>
            </td>
        </tr>
        <!-- TPL_END NEWS -->
    <!-- TPL_END -->

</table>

<br>

<div>
    <a class="text-center" href="/admin/news/add/"><button class="btn btn-sm btn-success">Добавить новость</button></a>
</div>
