<style>
    span a {
        color: darkgray;
    }
    td > a {
        color: darkgreen;
    }
    .sort-active {
        color: limegreen;
    }

    /*table {*/
        /*table-layout: fixed; !* Фиксированная ширина ячеек *!*/
        /*width: 100%; !* Ширина таблицы *!*/
    /*}*/

    tr.table-filters > td > input {
        position: relative;
        width: 90%;
    }
</style>

<div class="row-fluid">
    <div>
        <a class="text-center" href="/admin/products/add/"><button class="btn btn-sm btn-success">Добавить продукт</button></a>
    </div>

    <h3 class="text-center">Список продуктов</h3>
    <br>
    <div class="text-center">
        {PAGINATION}
    </div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <td style="width: 50px">
                    <b>ID</b>
                    <span style="float:right;">
                            <a href="/admin/products/index/{STATUS}/id&DESC/{SEARCH}"><i class="glyphicon glyphicon glyphicon-arrow-down"></i></a>
                            <a href="/admin/products/index/{STATUS}/id&ASC/{SEARCH}"><i class="glyphicon glyphicon-arrow-up"></i></a>
                    </span>
                </td>
                <td>
                    <b>Title RU</b>
                    <span style="float:right;">
                            <a href="/admin/products/index/{STATUS}/title&DESC/{SEARCH}"><i class="glyphicon glyphicon glyphicon-arrow-down"></i></a>
                            <a href="/admin/products/index/{STATUS}/title&ASC/{SEARCH}"><i class="glyphicon glyphicon-arrow-up"></i></a>
                    </span>
                </td>
                <td>
                    <b>Title UA</b>
                    <span style="float:right;">
                            <a href="/admin/products/index/{STATUS}/ua_title&DESC/{SEARCH}"><i class="glyphicon glyphicon glyphicon-arrow-down"></i></a>
                            <a href="/admin/products/index/{STATUS}/ua_title&ASC/{SEARCH}"><i class="glyphicon glyphicon-arrow-up"></i></a>
                    </span>
                </td>
                <td><b>Picture</b></td>
                <td>
                    <b>Price</b>
                    <span style="float:right;">
                            <a href="/admin/products/index/{STATUS}/price&DESC/{SEARCH}"><i class="glyphicon glyphicon glyphicon-arrow-down"></i></a>
                            <a href="/admin/products/index/{STATUS}/price&ASC/{SEARCH}"><i class="glyphicon glyphicon-arrow-up"></i></a>
                    </span>
                </td>
                <td>
                    <b>Залог</b>
                    <span style="float:right;">
                            <a href="/admin/products/index/{STATUS}/deposit&DESC/{SEARCH}"><i class="glyphicon glyphicon glyphicon-arrow-down"></i></a>
                            <a href="/admin/products/index/{STATUS}/deposit&ASC/{SEARCH}"><i class="glyphicon glyphicon-arrow-up"></i></a>
                    </span>
                </td>
                <td><b>Category</b></td>
                <td>
                    <b>Active</b>
                    <span style="float:right;">
                            <a href="/admin/products/index/{STATUS}/active&DESC/{SEARCH}"><i class="glyphicon glyphicon glyphicon-arrow-down"></i></a>
                            <a href="/admin/products/index/{STATUS}/active&ASC/{SEARCH}"><i class="glyphicon glyphicon-arrow-up"></i></a>
                    </span>
                </td>
                <td width="110px;"><b>Actions</b></td>
            </tr>
        </thead>
        <tbody>
            <col style="width: 65px;">
            <col>
            <col>
            <col>
            <col style="width: 85px;">
            <col style="width: 90px;">
            <col>
            <col style="width: 95px;">
            <col>

            <tr class='table-filters'>
                <td>
                    <div class='input-group'>
                        <input type="text" name="id" class="form-control">
                    </div>
                </td>
                <td>
                    <div class='input-group'>
                        <input type="text" name="title" class="form-control">
                    </div>
                </td>
                <td>
                    <div class='input-group'>
                        <input type="text" name="ua_title" class="form-control">
                    </div>
                </td>
                <td>

                </td>
                <td>
                    <div class='input-group'>
                        <input type="number" min="1" step="0.01" name="price" class="form-control"/>
                    </div>
                </td>
                <td>
                    <div class='input-group'>
                        <input type="number" min="1" step="0.01" name="deposit" class="form-control"/>
                    </div>
                </td>
                <td>
                    <div class='input-group' >
                        <input type='text' class="form-control" name="category_id"/>
                    </div>
                </td>
                <td>
                    <div class='input-group' >
                        <input type='text' class="form-control" name="active"/>
                    </div>
                </td>
                <td>
                <span style="float:right;">
                    <a href="#" id="find"><button class="btn btn-xs btn-warning" title="Фильтровать"><span class="glyphicon glyphicon-search"></span></button></a>
                    <a href="/admin/products/index/all" class="btn btn-xs btn-default" title="Сбросить фильтр"><span class="glyphicon glyphicon-refresh"></span></a>
                </span>
                </td>
            </tr>

            <!-- TPL_IF PRODUCTS -->
            <!-- TPL_BEGIN PRODUCTS -->
            <tr>
                <td>{PRODUCTS.id}</td>
                <td>{PRODUCTS.title}</td>
                <td>{PRODUCTS.ua_title}</td>
                <td><img src="{PRODUCTS.picture_small}"></td>
                <td>{PRODUCTS.price}</td>
                <td>{PRODUCTS.deposit}</td>
                <td>{PRODUCTS.category_name}</td>
                <td>{PRODUCTS.active}</td>
                <td align="right">
                    <a href="/admin/products/edit/{PRODUCTS.id}"><button class="btn btn-xs btn-primary">Edit</button></a>
                    <a href="/admin/products/delete/{PRODUCTS.id}" onclick="return confirmDelete();" class="btn btn-xs btn-danger">Delete</a>
                </td>
            </tr>
            <!-- TPL_END PRODUCTS -->
            <!-- TPL_END -->
        </tbody>

    </table>
    <div class="text-center">
        {PAGINATION}
    </div>
</div>

<!-- TPL_IF SEARCH -->
<script>
    var dataFilter = $.parseJSON('{QUERY}');
</script>
<!-- TPL_END -->

<script>
    $(document).ready(function () {

        //подстановка параметров поиска в input-и
        if (dataFilter) {
            $.each(dataFilter, function (key, val) {
                if ($('.table-filters input[name="' + key + '"]')) {
                    $('.table-filters input[name="' + key + '"]').val(val);
                }
            });
        }

        //для подсветки сортировки
        var url = window.location.pathname;
        var search = window.location.search;
        $('table thead tr').find('a[href="' + url + search + '"]').addClass('sort-active');
        ////////////////////////////////////////////

        // Поиск
        $('#find').on('click', function(e) {
            e.preventDefault();
            var search = '?';
            var $filters = $('.table-filters td input');

            var ser = window.location.search;
            if (ser.indexOf('?page=') !== -1) {
                var reg = /\?page=\d+/;
                var match = reg.exec(ser);
                search = match[0];
            }

            $filters.each(function () {
                if (search.length === 1) {
                    search += $(this).attr('name') + '=' + $(this).val();
                } else {
                    search += '&' + $(this).attr('name') + '=' + $(this).val();
                }
            });

            url = window.location.origin + window.location.pathname + search;
            history.pushState('', '', url);
            window.location.reload();
        });
    });
</script>