<div class="row-fluid">
    <div class="col-md-2 col-sm-2 col-xs-2">
        <a href="/admin/products/" class="btn btn-primary"><span class="glyphicon glyphicon-menu-left"></span> Назад</a>
    </div>
    <div class="col-md-10 col-sm-10 col-xs-10">
        <h3 class="text-center">Создать продукт</h3><br>

        <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="title">Title Ru</label>
                <input type="text" id="title" name="title" value="" class="form-control">
            </div>

            <div class="form-group">
                <label for="ua_title">Title Ua</label>
                <input type="text" id="ua_title" name="ua_title" value="" class="form-control">
            </div>

            <div class="form-group">
                <label for="name">Name Ru</label>
                <input type="text" id="name" name="name" value="" class="form-control">
            </div>

            <div class="form-group">
                <label for="ua_name">Name Ua</label>
                <input type="text" id="ua_name" name="ua_name" value="" class="form-control">
            </div>

            <div class="form-group">
                <label for="description">Description Ru</label>
                <textarea id="description" name="description" class="form-control"></textarea>
            </div>

            <div class="form-group">
                <label for="ua_description">Description Ua</label>
                <textarea id="ua_description" name="ua_description" class="form-control"></textarea>
            </div>

            <div class="form-group">
                <label for="params">Params Ru</label>
                <textarea id="params" name="params" class="form-control"></textarea>
            </div>

            <div class="form-group">
                <label for="ua_params">Params Ua</label>
                <textarea id="ua_params" name="ua_params" class="form-control"></textarea>
            </div>

            <div class="form-group">
                <label for="picture">Picture</label>
                <input name="picture" id="picture" type="file" class="form-control"/>
            </div>

            <div class="form-group">
                <label for="price">Price</label>
                <input type="number" min="1" step="0.01" name="price" id="price" class="form-control"/>
            </div>

            <div class="form-group">
                <label for="deposit">Залог</label>
                <input type="number" min="1" step="0.01" name="deposit" id="deposit" class="form-control"/>
            </div>

            <!-- TPL_IF ALL_CATEGORIES -->
            <div class="form-group">
                <label for="category_id">Category</label>
                <select class="form-control" name="category_id" id="category_id">
                    <option value="1">Кореневая категория</option>
                    <!-- TPL_BEGIN ALL_CATEGORIES -->
                    <option value="{ALL_CATEGORIES.id}">{ALL_CATEGORIES.name}</option>
                    <!-- TPL_END ALL_CATEGORIES -->
                </select>
            </div>
            <!-- TPL_END -->

            <div class="form-group">
                <label for="vendor">Vendor</label>
                <input type="text" id="vendor" name="vendor" value="" class="form-control">
            </div>

            <div class="form-group">
                <label for="vendor_code">Vendor Code</label>
                <input type="text" id="vendor_code" name="vendor_code" value="" class="form-control">
            </div>

            <div class="form-group">
                <label for="active">Active?</label>
                <input type="checkbox" id="active" name="active" checked="checked">
            </div>

            <input type="submit" class="btn btn-success" value="Отправить">
        </form>
    </div>
</div>

<script type="text/javascript" src="/webroot/js/tinymce/tinymce.min.js"></script>

<script>
    tinymce.init({
        selector:'textarea',
        menubar: false,
        plugins: [
            'advlist autolink lists link image charmap print preview anchor',
            'searchreplace visualblocks code fullscreen',
            'insertdatetime media table contextmenu paste code'
        ],
        toolbar: 'undo redo | insert | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
//        content_css: '//www.tinymce.com/css/codepen.min.css'
    });
</script>