<div class="row-fluid">
    <div>
        <a class="text-center" href="/admin/products/add/"><button class="btn btn-sm btn-success">Добавить продукт</button></a>
    </div>

    <h3 class="text-center">Список продуктов</h3>
    <br>
    <div class="text-center">
        {PAGINATION}
    </div>
    <table class="table table-striped table-bordered">
        <tr>
            <td><b>ID</b></td>
            <td><b>Title RU</b></td>
            <td><b>Title UA</b></td>
            <td><b>Picture</b></td>
            <td><b>Price</b></td>
            <td><b>Залог</b></td>
            <td><b>Category</b></td>
            <td><b>Available Kiev</b></td>
            <td width="110px;"><b>Actions</b></td>
        </tr>

        <!-- TPL_IF PRODUCTS -->
            <!-- TPL_BEGIN PRODUCTS -->
            <tr>
                <td>{PRODUCTS.id}</td>
                <td>{PRODUCTS.title}</td>
                <td>{PRODUCTS.ua_title}</td>
                <td><img src="{PRODUCTS.picture_small}"></td>
                <td>{PRODUCTS.price}</td>
                <td>{PRODUCTS.deposit}</td>
                <td>{PRODUCTS.category_name}</td>
                <td>{PRODUCTS.available_kiev}</td>
                <td align="right">
                    <a href="/admin/products/edit/{PRODUCTS.id}"><button class="btn btn-xs btn-primary">Edit</button></a>
                    <a href="/admin/products/delete/{PRODUCTS.id}" onclick="return confirmDelete();" class="btn btn-xs btn-danger">Delete</a>
                </td>
            </tr>
            <!-- TPL_END PRODUCTS -->
        <!-- TPL_END -->

    </table>
    <div class="text-center">
        {PAGINATION}
    </div>
</div>